<%= form_for Location.new,remote:true do |f| %>
<br>
Name:
<%= f.text_field :name%>
<br>
Description:
 <%= f.text_field :description%>
 <br>
 location:
 <%= f.text_field :location%>
 <br>
 Image:<%= f.text_field :img_url%>
 <%= f.submit "Create Location"%>
<% end %>
<a href="#" id="hideform">Not Now</a>
