<div id="reviews_index"></div>
<% @locations= current_user.locations%>
<p>
  <ol>

<% @locations.each do|location|%>

<li>
  <%= location.name%>

<%= form_for (Review.new) do |f|%>
   <%= f.hidden_field :location_id, :value => location.id %>
  Comment:<%= f.text_field :comment%>
  <br>Rating :<%= f.text_field :ratings%>
  <br>
  <%= f.submit "Post",data:{disable_with: false}%>
<% end %>
<div id="reviews"><ol></ol></div>


<p>
<button id = "show_location" value=<%=location.id%>>Show Details</button>
<button id = "show_reviews" value="<%=location.id%>">Show Reviews</button>
<button id = "delete_location">Delete Location</button>

</li>
  <% end %>
  <p>
     <div id="display" style="color:blue"></div>

  <br>
